:root {
  --primary-color: 255, 255, 255;
  --secondary-color: 0, 0, 0;
  --territory-color: 132, 132, 132;
  --white-color: 255, 255, 255;
  --black-color: 0, 0, 0;
  --sub-color: 20, 20, 20;
  --other-color: 238, 238, 238;
  --primary-font-family: "Nebulica VF";
  --secondary-font-family: "Manrope";
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nebulica VF";
  color: rgba(var(--black-color));
}

body {
  overflow-x: hidden;
}

.home-view {
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black-color));
}
.home-view .loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10000000;
  top: 0;
  background-color: rgba(var(--black-color));
}
.home-view .loader h2 {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 12%;
  text-align: center;
  color: rgba(var(--territory-color));
}
@media (max-width: 1000px) {
  .home-view .loader h2 {
    font-size: 20px;
  }
}
.home-view .navbar {
  width: 93%;
}
.home-view .navbar .navbar-brand {
  width: 197px;
  height: 51px;
}
.home-view .navbar .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  padding-left: 60px;
}
.home-view .navbar .navbar-collapse {
  transition: all 0.6s ease;
}
.home-view .navbar .navbar-collapse .navbar-nav .nav-item a {
  color: rgba(var(--territory-color));
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.home-view .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
  color: rgba(var(--white-color));
}
@media (min-width: 992px) {
  .home-view .navbar .navbar-collapse .navbar-nav .nav-item a {
    padding: 0 25px;
  }
}
.home-view .navbar .navbar-collapse .navbar-nav .nav-item .active {
  color: #fff;
}
.home-view .navbar .navbar-collapse.hidden {
  opacity: 0;
  transform: translateY(-50px);
}
.home-view .navbar .menu-open span {
  color: #fff;
  cursor: pointer;
  position: fixed;
  top: 20px;
  color: white;
  transition: all 0.6s ease;
  z-index: 999;
  opacity: 0;
  transform: translateX(100%);
}
.home-view .navbar .menu-open span.show {
  opacity: 1;
  transform: translateX(0);
}
.home-view .menu-scroll-view {
  width: 100%;
  height: 100vh;
  background-color: rgba(var(--sub-color));
  position: fixed;
  top: 0;
  z-index: 100000;
  display: none;
}
.home-view .menu-scroll-view .menu-scroll-view-inner {
  padding: 50px 20px;
  border-bottom: solid 1px rgba(var(--territory-color));
  height: 25vh;
}
.home-view .menu-scroll-view .menu-scroll-view-inner .close-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.home-view .menu-scroll-view .menu-scroll-view-inner:last-child {
  border-bottom: 0;
}
.home-view .menu-scroll-view .menu-scroll-view-inner a {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 35px;
  text-decoration: none;
  color: rgba(var(--territory-color));
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  text-align: right;
  transition: all 0.6s ease;
  font-weight: 600;
}
.home-view .menu-scroll-view .menu-scroll-view-inner a:hover {
  color: rgba(var(--white-color));
}
.home-view .banner {
  width: 100%;
  height: 100vh;
  background: url("/images/banner-bg.svg") #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0.5;
  z-index: -1;
}
.home-view .banner .content-view {
  width: 100%;
}
.home-view .banner .content-view h2 {
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: 180px;
  line-height: 103%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1000px) {
  .home-view .banner .content-view h2 {
    font-size: 68px;
  }
}
.home-view .banner .content-view #animation-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.home-view .video-section {
  width: 100%;
  height: 115vh;
  position: relative;
  box-sizing: border-box;
}
.home-view .video-section .video-section-inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.2);
  width: 200px;
  height: 150px;
  padding: 40px 0px;
  background-color: #000;
  transition: transform 1s ease-out;
}
.home-view .video-section .video-section-inner video {
  width: 100%;
  height: 125%;
}
.home-view .content-section-scroll {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  box-sizing: border-box;
}

/* Text Container */
.home-view .content-section-scroll .content-text-view {
  max-width: min(1085px, 90%);
  font-weight: 500;
  font-size: clamp(18px, 3.5vw, 32px);
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  margin: 0 auto;
  word-wrap: break-word;
  hyphens: auto;
  overflow-wrap: normal;
}

.home-view .content-section-scroll .content-text-view .letter {
  display: inline-block;
  color: rgba(119, 119, 119, 0.8);
  font-family: var(--secondary-font-family);
  transition: color 0.3s ease;
}

@media (max-width: 1000px) {
  .home-view .content-section-scroll .content-text-view {
    max-width: 90%;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .home-view .content-section-scroll {
    padding: 0 20px;
  }

  .home-view .content-section-scroll .content-text-view {
    hyphens: none;
    overflow-wrap: break-word;
  }
}

@media (max-width: 480px) {
  .home-view .content-section-scroll .content-text-view {
    line-height: 1.6;
  }
}
.home-view .logo-section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.home-view .logo-section .content-section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(var(--black-color));
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1000px) {
  .home-view .logo-section .content-section {
    justify-content: start;
  }
}
.home-view .logo-section .content-section .hdr-section {
  width: 100%;
}
.home-view .logo-section .content-section .hdr-section h2 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(238, 238, 238, 0.5019607843);
}
.home-view .logo-section .content-section .inner-section-sub-align {
  margin-top: 100px !important;
}
.home-view .logo-section .content-section .inner-section {
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.home-view .logo-section .content-section .inner-section .inner-logo-view {
  width: 100%;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .home-view .logo-section .content-section .inner-section .inner-logo-view {
    flex-direction: column;
  }
}
.home-view
  .logo-section
  .content-section
  .inner-section
  .inner-logo-view
  .logo-view {
  width: 216px;
}
.home-view
  .logo-section
  .content-section
  .inner-section
  .inner-logo-view
  .logo-view
  img {
  max-width: 100%;
  max-height: 100%;
}

.home-view .our-services {
  width: 100%;
  min-height: 100%;
  padding: 80px 80px;
  background: rgba(var(--black-color));
  position: relative;
}
@media (max-width: 1000px) {
  .home-view .our-services {
    padding: 80px 20px;
  }
}
.home-view .our-services .our-services-hdr {
  width: 100%;
  position: relative;
}
.home-view .our-services .our-services-hdr h2 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(var(--other-color), 0.5);
}
.home-view .our-services .our-service-inner {
  width: 100%;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media (max-width: 1000px) {
  .home-view .our-services .our-service-inner {
    grid-template-columns: none;
  }
}
.home-view .our-services .our-service-inner .our-service-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.home-view .our-services .our-service-inner .our-service-item img {
  max-width: 100%;
  max-height: 100%;
}
.home-view
  .our-services
  .our-service-inner
  .our-service-item
  .our-service-content {
  position: absolute;
  width: 100%;
  top: 50%;
  translate: 0 -50%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-view
  .our-services
  .our-service-inner
  .our-service-item
  .our-service-content
  h2 {
  color: rgba(var(--white-color));
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .home-view
    .our-services
    .our-service-inner
    .our-service-item
    .our-service-content
    h2 {
    font-size: 18px;
  }
}
.home-view
  .our-services
  .our-service-inner
  .our-service-item
  .our-service-content
  img {
  max-width: 100%;
  max-height: 100%;
}
.home-view
  .our-services
  .our-service-inner
  .our-service-item
  .our-service-content
  .img-1 {
  position: absolute;
  bottom: -15px;
}
.home-view
  .our-services
  .our-service-inner
  .our-service-item
  .our-service-content
  .img-2 {
  position: absolute;
  bottom: -25px;
  right: 100px;
}
.home-view
  .our-services
  .our-service-inner
  .our-service-item
  .our-service-content
  .img-3 {
  position: absolute;
  top: -30px;
}
.home-view
  .our-services
  .our-service-inner
  .our-service-item
  .our-service-content
  .img-4 {
  position: absolute;
  bottom: -20px;
  margin-right: 110px;
}
.home-view
  .our-services
  .our-service-inner
  .our-service-item
  .our-service-content
  .img-5 {
  position: absolute;
  bottom: -22px;
  right: 157px;
}
.home-view
  .our-services
  .our-service-inner
  .our-service-item
  .our-service-content
  .img-6 {
  position: absolute;
  bottom: -17px;
  margin-right: 180px;
}
.home-view .center-content-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(var(--black-color));
}
.home-view .center-content-section h2 {
  color: rgba(var(--white-color));
  font-weight: 600;
  font-size: 70px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(90deg);
  transform-origin: top;
  will-change: transform, opacity;
}
@media (max-width: 1000px) {
  .home-view .center-content-section h2 {
    font-size: 30px;
  }
}
.home-view .work-section {
  width: 100%;
  height: 4500px;
  position: relative;
  background-color: rgba(var(--black-color));
}
@media (max-width: 1000px) {
  .home-view .work-section {
    height: 3000px;
  }
}
.home-view .work-section h2 {
  color: rgba(var(--white-color));
  font-weight: 500;
  font-size: 180px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 1000px) {
  .home-view .work-section h2 {
    font-size: 66px;
  }
}
.home-view .items-section {
  width: 100%;
  height: 130vh;
  position: relative;
}
.home-view .items-section .items-section-view {
  width: 100%;
  height: 100vh !important;
}
.home-view .items-section .items-section-view .items-section-inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.2);
  transform-origin: center center;
  width: 300px;
  height: 150px;
  transition: all 0.3s ease;
  padding: 20px 40px;
}
@media (max-width: 1000px) {
  .home-view .items-section .items-section-view .items-section-inner {
    padding: 20px 0;
  }
}
.home-view .items-section .items-section-view .items-section-inner p {
  font-family: var(--secondary-font-family);
  color: rgba(var(--other-color), 0.5);
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
  margin-top: auto;
}
.home-view .items-section .items-section-view .items-section-inner p span {
  color: rgba(var(--white-color));
}
.home-view .items-section .items-section-view .items-section-inner img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.home-view .items-section-second {
  width: 100%;
  height: 130vh;
  position: relative;
}
.home-view .items-section-second .items-section-view-second {
  width: 100%;
  height: 100vh !important;
}
.home-view
  .items-section-second
  .items-section-view-second
  .items-section-inner-second {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.2);
  transform-origin: center center;
  width: 200px;
  height: 150px;
  transition: all 0.3s ease;
  padding: 20px 40px;
}
@media (max-width: 1000px) {
  .home-view
    .items-section-second
    .items-section-view-second
    .items-section-inner-second {
    padding: 20px 0;
  }
}
.home-view
  .items-section-second
  .items-section-view-second
  .items-section-inner-second
  p {
  font-family: var(--secondary-font-family);
  color: rgba(var(--other-color), 0.5);
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
  margin-top: auto;
}
.home-view
  .items-section-second
  .items-section-view-second
  .items-section-inner-second
  p
  span {
  color: rgba(var(--white-color));
}
.home-view
  .items-section-second
  .items-section-view-second
  .items-section-inner-second
  img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.home-view .items-section-third {
  width: 100%;
  height: 130vh;
  position: relative;
}
.home-view .items-section-third .items-section-view-third {
  width: 100%;
  height: 100vh !important;
}
.home-view
  .items-section-third
  .items-section-view-third
  .items-section-inner-third {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.2);
  transform-origin: center center;
  width: 200px;
  height: 150px;
  transition: all 0.3s ease;
  padding: 20px 40px;
}
@media (max-width: 1000px) {
  .home-view
    .items-section-third
    .items-section-view-third
    .items-section-inner-third {
    padding: 20px 0;
  }
}
.home-view
  .items-section-third
  .items-section-view-third
  .items-section-inner-third
  p {
  font-family: var(--secondary-font-family);
  color: rgba(var(--other-color), 0.5);
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
  margin-top: auto;
}
.home-view
  .items-section-third
  .items-section-view-third
  .items-section-inner-third
  p
  span {
  color: rgba(var(--white-color));
}
.home-view
  .items-section-third
  .items-section-view-third
  .items-section-inner-third
  img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.home-view .items-section-four {
  width: 100%;
  height: 130vh;
  position: relative;
}
.home-view .items-section-four .items-section-view-four {
  width: 100%;
  height: 100vh !important;
}
.home-view
  .items-section-four
  .items-section-view-four
  .items-section-inner-four {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.2);
  transform-origin: center center;
  width: 200px;
  height: 150px;
  transition: all 0.3s ease;
  padding: 20px 40px;
}
@media (max-width: 1000px) {
  .home-view
    .items-section-four
    .items-section-view-four
    .items-section-inner-four {
    padding: 20px 0;
  }
}
.home-view
  .items-section-four
  .items-section-view-four
  .items-section-inner-four
  p {
  font-family: var(--secondary-font-family);
  color: rgba(var(--other-color), 0.5);
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
  margin-top: auto;
}
.home-view
  .items-section-four
  .items-section-view-four
  .items-section-inner-four
  p
  span {
  color: rgba(var(--white-color));
}
.home-view
  .items-section-four
  .items-section-view-four
  .items-section-inner-four
  img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.home-view .our-clients {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  position: relative;
  background-color: rgba(var(--black-color));
}
.home-view .our-clients .our-clients-hdr {
  width: 100%;
}
.home-view .our-clients .our-clients-hdr h2 {
  text-transform: uppercase;
  font-family: var(--primary-font-family);
  font-weight: 100;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(238, 238, 238, 0.5019607843);
}
.home-view .our-clients .our-clients-img-view {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 80px;
}
@media (max-width: 1000px) {
  .home-view .our-clients .our-clients-img-view {
    flex-direction: column;
  }
}
.home-view .our-clients .our-clients-img-view .img-view-center-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-view .our-clients .our-clients-img-view .img-view-right-view {
  display: flex;
  justify-content: end;
  align-items: center;
}
.home-view .our-clients .our-clients-img-view .img-view-five {
  width: 180px !important;
  height: 182px !important;
  background-color: #d9d9d9;
  -o-object-fit: scale-down !important;
  object-fit: scale-down !important;
}
.home-view .our-clients .our-clients-img-view .img-view {
  width: 100%;
}
@media (max-width: 1000px) {
  .home-view .our-clients .our-clients-img-view .img-view {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.home-view .our-clients .our-clients-img-view .img-view img {
  width: 180px;
  height: 112px;
  -o-object-fit: contain;
  object-fit: contain;
}
.home-view .sister-company-section {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  position: relative;
  background-color: rgba(var(--black-color));
}
.home-view .sister-company-section .sister-company-hdr {
  width: 100%;
}
@media (max-width: 1000px) {
  .home-view .sister-company-section .sister-company-hdr {
    margin-bottom: 30px;
  }
}
.home-view .sister-company-section .sister-company-hdr h2 {
  text-transform: uppercase;
  font-family: var(--secondary-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(238, 238, 238, 0.5019607843);
}
.home-view .sister-company-section .sister-company-items-inner {
  width: 100%;
  display: flex;
  margin-top: 45px;
}
@media (max-width: 1000px) {
  .home-view .sister-company-section .sister-company-items-inner {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
}
.home-view .sister-company-section .sister-company-items-inner .items-two {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-view .sister-company-section .sister-company-items-inner .items-three {
  display: flex;
  align-items: center;
  justify-content: end;
}
.home-view .sister-company-section .sister-company-items-inner .items {
  width: 100%;
}
.home-view
  .sister-company-section
  .sister-company-items-inner
  .items
  .items-inner {
  width: 280px;
  height: 174px;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}
@media (max-width: 1000px) {
  .home-view
    .sister-company-section
    .sister-company-items-inner
    .items
    .items-inner {
    width: 100%;
  }
}
.home-view
  .sister-company-section
  .sister-company-items-inner
  .items
  .items-inner
  img {
  max-width: 100%;
  max-height: 100%;
}
.home-view .blog-section {
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black-color));
  padding: 100px 0;
  position: relative;
}
@media (max-width: 1000px) {
  .home-view .blog-section {
    padding: 0;
  }
}
.home-view .blog-section .blog-inner {
  width: 100%;
  display: flex;
  gap: 20px;
}
@media (max-width: 1000px) {
  .home-view .blog-section .blog-inner {
    flex-direction: column;
  }
}
.home-view .blog-section .blog-inner .blog-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-view .blog-section .blog-inner .blog-left .blog-left-top {
  width: 100%;
  height: 302px;
  background: url("/images/blog/blog-bg-1.png") #0a0a0a;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}
.home-view
  .blog-section
  .blog-inner
  .blog-left
  .blog-left-top
  .blog-user-section {
  width: 100%;
  display: flex;
  gap: 10px;
}
.home-view
  .blog-section
  .blog-inner
  .blog-left
  .blog-left-top
  .blog-user-section
  img {
  width: 28px;
  height: 28px;
}
.home-view
  .blog-section
  .blog-inner
  .blog-left
  .blog-left-top
  .blog-user-section
  p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}
.home-view .blog-section .blog-inner .blog-left .blog-left-top .blog-content {
  width: 100%;
}
.home-view .blog-section .blog-inner .blog-left .blog-left-top .blog-content p {
  color: #fff;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0%;
}
@media (max-width: 1000px) {
  .home-view
    .blog-section
    .blog-inner
    .blog-left
    .blog-left-top
    .blog-content
    p {
    font-size: 16px;
  }
}
.home-view .blog-section .blog-inner .blog-left .blog-left-bottom {
  width: 100%;
  height: 495px;
  background: url("/images/blog/blog-bg-2.png") #0a0a0a;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}
@media (max-width: 1000px) {
  .home-view .blog-section .blog-inner .blog-left .blog-left-bottom {
    height: 320px;
    background-size: 100%;
    background-position: right top;
  }
}
.home-view
  .blog-section
  .blog-inner
  .blog-left
  .blog-left-bottom
  .blog-user-section {
  width: 100%;
  display: flex;
  gap: 10px;
}
.home-view
  .blog-section
  .blog-inner
  .blog-left
  .blog-left-bottom
  .blog-user-section
  img {
  width: 28px;
  height: 28px;
}
.home-view
  .blog-section
  .blog-inner
  .blog-left
  .blog-left-bottom
  .blog-user-section
  p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}
.home-view
  .blog-section
  .blog-inner
  .blog-left
  .blog-left-bottom
  .blog-content {
  width: 100%;
}
.home-view
  .blog-section
  .blog-inner
  .blog-left
  .blog-left-bottom
  .blog-content
  p {
  color: #fff;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0%;
}
@media (max-width: 1000px) {
  .home-view
    .blog-section
    .blog-inner
    .blog-left
    .blog-left-bottom
    .blog-content
    p {
    font-size: 16px;
  }
}
.home-view .blog-section .blog-inner .blog-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-view .blog-section .blog-inner .blog-right .blog-right-top {
  width: 100%;
  height: 495px;
  background: url("/images/blog/blog-bg-4.png") #0a0a0a;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}
@media (max-width: 1000px) {
  .home-view .blog-section .blog-inner .blog-right .blog-right-top {
    height: 290px;
    background-size: 100%;
  }
}
.home-view
  .blog-section
  .blog-inner
  .blog-right
  .blog-right-top
  .blog-user-section {
  width: 100%;
  display: flex;
  gap: 10px;
}
.home-view
  .blog-section
  .blog-inner
  .blog-right
  .blog-right-top
  .blog-user-section
  img {
  width: 28px;
  height: 28px;
}
.home-view
  .blog-section
  .blog-inner
  .blog-right
  .blog-right-top
  .blog-user-section
  p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}
.home-view .blog-section .blog-inner .blog-right .blog-right-top .blog-content {
  width: 100%;
}
.home-view
  .blog-section
  .blog-inner
  .blog-right
  .blog-right-top
  .blog-content
  p {
  color: #fff;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0%;
}
@media (max-width: 1000px) {
  .home-view
    .blog-section
    .blog-inner
    .blog-right
    .blog-right-top
    .blog-content
    p {
    font-size: 16px;
  }
}
.home-view .blog-section .blog-inner .blog-right .blog-right-bottom {
  width: 100%;
  height: 302px;
  background: url("/images/blog/blog-bg-5.png") #0a0a0a;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}
@media (max-width: 1000px) {
  .home-view .blog-section .blog-inner .blog-right .blog-right-bottom {
    height: 250px;
    background-size: 100%;
  }
}
.home-view
  .blog-section
  .blog-inner
  .blog-right
  .blog-right-bottom
  .blog-user-section {
  width: 100%;
  display: flex;
  gap: 10px;
}
.home-view
  .blog-section
  .blog-inner
  .blog-right
  .blog-right-bottom
  .blog-user-section
  img {
  width: 28px;
  height: 28px;
}
.home-view
  .blog-section
  .blog-inner
  .blog-right
  .blog-right-bottom
  .blog-user-section
  p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}
.home-view
  .blog-section
  .blog-inner
  .blog-right
  .blog-right-bottom
  .blog-content {
  width: 100%;
}
.home-view
  .blog-section
  .blog-inner
  .blog-right
  .blog-right-bottom
  .blog-content
  p {
  color: #fff;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0%;
}
@media (max-width: 1000px) {
  .home-view
    .blog-section
    .blog-inner
    .blog-right
    .blog-right-bottom
    .blog-content
    p {
    font-size: 16px;
  }
}
.home-view footer {
  width: 100%;
  padding: 220px 40px 0;
  position: relative;
  background-color: rgba(var(--black-color));
}
@media (max-width: 1000px) {
  .home-view footer {
    padding: 100px 30px 0;
  }
}
.home-view footer .footer-top {
  width: 100%;
  display: flex;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top {
    flex-direction: column;
  }
}
.home-view footer .footer-top .content-section {
  width: 100%;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.home-view footer .footer-top .content-section p {
  font-family: var(--secondary-font-family);
  color: rgba(var(--white-color));
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
  margin: 40px 0 0 0;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top .content-section p {
    font-size: 15px;
  }
}
.home-view footer .footer-top .items-section-ft {
  width: 100%;
  display: flex;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top .items-section-ft {
    flex-direction: column;
    margin-top: 25px;
  }
}
.home-view footer .footer-top .items-section-ft h2 {
  color: rgba(var(--other-color), 0.4);
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top .items-section-ft h2 {
    text-align: center;
  }
}
.home-view footer .footer-top .items-section-ft p a {
  font-family: var(--secondary-font-family);
  color: rgba(var(--other-color), 0.8);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.home-view footer .footer-top .items-section-ft p a:hover {
  color: rgba(var(--other-color), 0.9);
}
.home-view footer .footer-top .items-section-ft .company-section {
  width: 25%;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top .items-section-ft .company-section {
    width: 100%;
  }
}
.home-view footer .footer-top .items-section-ft .company-section .items {
  margin-top: 25px;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top .items-section-ft .company-section .items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home-view footer .footer-top .items-section-ft .division-section {
  width: 50%;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top .items-section-ft .division-section {
    width: 100%;
  }
}
.home-view footer .footer-top .items-section-ft .division-section .items {
  margin-top: 25px;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top .items-section-ft .division-section .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.home-view footer .footer-top .items-section-ft .social-section {
  width: 25%;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top .items-section-ft .social-section {
    width: 100%;
  }
}
.home-view footer .footer-top .items-section-ft .social-section .items {
  margin-top: 25px;
}
@media (max-width: 1000px) {
  .home-view footer .footer-top .items-section-ft .social-section .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.home-view footer .footer-text-section {
  width: 100%;
  border-top: solid 1px rgba(var(--other-color), 0.3);
  border-bottom: solid 1px rgba(var(--other-color), 0.3);
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  margin-top: 75px;
}
.home-view footer .footer-text-section .marquee {
  display: inline-flex;
}
.home-view footer .footer-text-section .marquee h2 {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 160px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(var(--white-color));
  white-space: nowrap;
}
.home-view footer .footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.home-view footer .footer-bottom .copy-right {
  color: rgba(var(--other-color), 0.4);
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  margin: 0;
}
.home-view footer .footer-bottom .backtotop {
  font-family: var(--secondary-font-family);
  color: rgba(var(--other-color), 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.position-fixed {
  position: fixed;
  top: 0;
} /*# sourceMappingURL=styles.css.map */

/* New update */

/* navbar */

@media (min-width: 992px) {
  .home-view .navbar .navbar-collapse .navbar-nav .nav-item a {
    padding: 0 50px;
  }
}

.fixed-top {
  top: 5% !important;
}

@media (min-width: 992px) {
  .navbar-brand {
    position: absolute;
    left: 1rem;
  }
  .order-lg-2 {
    width: 100%;
  }
  .order-lg-3 {
    position: absolute;
    right: 1rem;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

/* sound Button */

.video-container {
  position: relative;
  display: inline-block;
}

.sound-btn {
  position: absolute;
  top: 90%;
  right: 20%;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sound-btn:hover {
  background: rgba(255, 255, 255, 0.8);
}

